{% extends 'core/document_nav.html' %}
{% load i18n staticfiles %}

{% block tab_content %}
    {% include 'core/models_list/table.html' with unbind_model=True %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    'use strict';
    {% if user.onboarding %}
     const ONBOARDING_PAGE  = "onboarding_models";
    {% endif %}
</script>

{{ block.super }}
<script type="text/javascript">
'use strict';
$(document).ready(function() {
  // join the ws room
  joinDocumentRoom('{{document.pk}}');
  bootModels();
});
</script>

<p>document pk : {% if document.pk %} {{document.pk}} {% else %} None {% endif %}</p>
{% endblock %}
