{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block body %}
<a href="{% url 'model-upload' %}" class="btn btn-success float-sm-right">{% trans "Upload a model" %}</a>
<h2>{% trans "My Models" %}</h2>
{% include 'core/models_list/table.html' %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    'use strict';
    {% if user.onboarding %}
     const ONBOARDING_PAGE  = "onboarding_models";
    {% endif %}
</script>

{{ block.super }}
<script type="text/javascript">
'use strict';
$(document).ready(function() {
  // join the ws room
  //{% if document.pk %}joinDocumentRoom('{{document.pk}}');{% endif %}
  joinDocumentRoom('{{document.pk}}');
  bootModels();
});
</script>

<p>document pk : {% if document.pk %} {{document.pk}} {% else %} None {% endif %}</p>
{% endblock %}
