<script>
    'use strict';
    {% if user.onboarding %}
     const ONBOARDING_PAGE  = "onboarding_models";
    {% endif %}
</script>

{{ block.super }}
<script>
'use strict';
$(document).ready(function() {
  // join the ws room
  joinDocumentRoom('{{document.pk}}');
  bootModels();
});
</script>

<p>document pk : {% if document.pk %} {{document.pk}} {% else %} None {% endif %}</p>
