{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block head_title %}{% trans "My Cluster Jobs" %}{% endblock %}

{% block nav-jobs-active %}active{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 col-md-offset-4">
    <h2>{% trans "My Jobs" %}</h2>

    <table id="project-list" class="table table-hover">
        <tbody>

          <tr>
            <th>{% trans "Created at" %}</th>
            <th>{% trans "Cluster" %}</th>
            <th>{% trans "Job id" %}</th>
            <th>{% trans "State" %}</th>
            <th>{% trans "Finished" %}</th>
          </tr>

            {% for job in clusterjob_list %}
            <tr>
              <td>{{job.created_at}}</td>
              <td>{{job.cluster_hostname}}</td>
              <td>{{job.job_id}}</td>
              <td>
                {% if job.last_known_state == "PENDING" %}
                <p style="color:blue">
                {% elif job.last_known_state == "RUNNING" or job.last_known_state == "COMPLETING" %}
                <p style="color:green">
                {% else %}
                <p>
                {% endif %}
                {{job.last_known_state}}
                </p>
              </td>
              <td>{{job.is_finished}}</td>
  
            </tr>

            {% endfor %}
        </tbody>
    </table>

    {% include 'includes/pagination.html' %}
    </div>
</div>
{% endblock %}
