{% extends 'base.html' %}
{% load i18n staticfiles bootstrap %}

{% block head_title %}
{% trans "Search in projects" %}
{% endblock %}

{% block body %}
{% if DISABLE_ELASTICSEARCH %}
<div class="alert alert-danger mt-4" role="alert">
  {% trans "Search feature is deactivated on this instance." %}
</div>
<a class="btn btn-primary" href="{% url 'home' %}">Back to homepage</a>
{% else %}
<div>
  <h2>{% trans "Search text in projects" %}</h2>
  <form method="get" class="mt-3">
    <div>{% render_field form.document %}</div>
    <div>{% render_field form.transcription %}</div>
    <div class="form-row">
      <div class="col-auto">{% render_field form.project group=True %}</div>
      <div class="col">{% render_field form.query group=True %}</div>
      <div class="col-auto">
        <input type="submit" value="{% trans 'Search' %}" class="btn btn-primary"></input>
      </div>
    </div>

    {% if form.errors %}
    <div class="mt-3 alert alert-danger" role="alert">
      <ul class="mb-0">
      {% for field_errors in form.errors.values %}
        {% for error in field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
  </form>

  <hr>

  {% if es_error %}
  <div class="alert alert-danger" role="alert">
    {% trans "Couldn't connect to Elasticsearch, please contact your instance administrator." %}
    <p class="mt-2 mb-0"><strong>{% trans "Reason:" %}</strong> {{ es_error }}</p>
  </div>
  {% elif 'query' not in request.GET or not request.GET.query or form.errors %}
  <!-- No need to display anything, user must search terms or the form contains errors -->
  {% else %}
    {% if form.cleaned_data.document %}
    <div class="alert alert-primary" role="alert">
      {% blocktrans with name=form.cleaned_data.document.name %}
        Currently searching entered text in the document named <strong>{{ name }}</strong>.
      {% endblocktrans %}
      {% if form.cleaned_data.transcription %}
        {% blocktrans with name=form.cleaned_data.transcription.name %}And on the transcription level <strong>{{ name }}</strong>.{% endblocktrans %}
      {% endif %}
      <a href="{% url 'search' %}?query={{ request.GET.query }}&project={{ request.GET.project }}">
        Click here to remove {% if form.cleaned_data.transcription %}these filters{% else %}this filter{% endif %}.
      </a>
    </div>
    {% endif %}

  <div class="mt-4 mb-3">
    <h4>{% trans "Results" %} ({{ page_obj.paginator.count }})</h4>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>{% trans "Content" %}</th>
        <th>{% trans "Image preview" %}</th>
        {% if debug %}
        <th>{% trans "Score" %}</th>
        {% endif %}
        <th>{% trans "Edit" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for result in page_obj %}
      <tr>
        <td>
          {% if result.context_before %}
          <small class="context" title="{% trans "Previous line" %}">
            {% for content in result.context_before %}{{ content|safe }}{% endfor %}
          </small>
          <br/>
          {% endif %}

          {% if result.content %}
          <big title="{% trans "Line transcription" %}">
            {% for content in result.content %}{{ content|safe }}{% endfor %}
          </big>
          {% else %}
          <small class="text-muted text-sm">
            {% trans "Search terms found in previous or next line." %}
          </small>
          {% endif %}

          {% if result.context_after %}
          <br/>
          <small class="context" title="{% trans "Next line" %}">
            {% for content in result.context_after %}{{ content|safe }}{% endfor %}
          </small>
          {% endif %}
          <br/>
          <small class="text-muted text-sm align-bottom">
            {% blocktrans with line=result.line_number part=result.part_title %}
            Line <strong>#{{ line }}</strong> of <strong>{{ part }}</strong> in document
            {% endblocktrans %}
            <strong>
              <a
                title="{% trans 'Filter results by this document' %}"
                href="?query={{ request.GET.query }}&project={{ request.GET.project }}&document={{ result.document_pk }}"
              >
                {{ result.document_name }}
              </a>
            </strong>

            <a
              title="{% trans 'Filter results by this transcription level' %}"
              href="?query={{ request.GET.query }}&project={{ request.GET.project }}&document={{ result.document_pk }}&transcription={{ result.transcription_pk }}"
            >
              ({{ result.transcription_name }})
            </a>
          </small>
        </td>
        <td title="{% trans 'Full image cropped according to the transcription bounding box' %}">
          {% if result.viewbox %}
          <svg viewBox="{{ result.viewbox }}" class="lazy {% if result.larger %}wide-search-crop{% else %}tall-search-crop{% endif %}">
            <image x="0" y="0" width="{{ result.img_w }}" height="{{ result.img_h }}" data-src="{{ result.img_url }}">
          </svg>
          {% else %}
          <div class="alert alert-warning pl-3 pr-3 pt-2 pb-2 d-inline-block" role="alert">
            {% trans "Image preview is not available for this search result" %}
          </div>
          {% endif %}
        </td>
        {% if debug %}
        <td title="{% trans 'Search score' %}">{{ result.score }}</td>
        {% endif %}
        <td title="{% trans 'Go to document part editing page' %}">
          <a class="btn btn-primary" target="_blank" href="{% url 'document-part-edit' pk=result.document_pk part_pk=result.part_pk %}">
            <i class="fas fa-external-link-square-alt"></i>
          </a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="{% if debug %}4{% else %}3{% endif %}">{% trans "No results matched your search." %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'includes/pagination.html' %}
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
  $(document).ready(function() {
    bootLazyload();
  });
</script>
{% endblock %}
