{% extends 'core/project_nav.html' %}
{% load i18n staticfiles bootstrap report pagination cache %}
{% block head_title %}{% trans "Project reports" %}{% endblock %}

{% block nav-reports-active %}active{% endblock %}

{% block extra_nav %}
{% endblock %}

{% block tab_content %}
<div class="row">
    <div class="col-2" id="document_list">
        <span>{% trans 'Filters' %}</span>
        <tagsselector
            :tags="{{document_tags}}"
            :filters="{{filters}}"
            :tagsperdocuments="'{% for doc in object_list %}{{doc.pk}};{% for tag in doc.tags.all %} {{tag.pk}}{% if not forloop.last %},{% endif %}{% endfor %}{% if not forloop.last %}¤{% endif %}{% endfor %}'">
        </tagsselector>
    </div>
    <div class="col-10">
        {% cache 200 project.pk filters %}
        <div class="mb-4 row justify-content-center"><h4>{% trans 'Data metrics' %}</h4></div>
        <div class="mb-4 row">
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="far fa-file-image card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Total number of document parts' %}</h5>
                        <h2 class="card-title">{{ part_count|default_if_none:"0" }}</h2>
                        <p class="card-text">{% trans 'A document part corresponds to one image loaded within a document.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-th card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Total number of regions' %}</h5>
                        <h2 class="card-title">{{ part_block_count|default_if_none:"0" }}</h2>
                        <p class="card-text">{% trans 'A region is a polygon drawn on a document part, grouping one, several or no line(s).' %}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-stream card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Total number of lines' %}</h5>
                        <h2 class="card-title">{{ part_lines_count|default_if_none:"0" }}</h2>
                        <p class="card-text">{% trans 'A line is a segment of text identified on a document part, usually associated with a polygon (mask) and a transcription.' %}</p>
                    </div>
                </div>
            </div>
        {% endcache %}
        {% with transcriptions=part_lines_transcriptions %}
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="far fa-file-word card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Total number of words' %}</h5>
                        <h2 class="card-title"> {{ transcriptions|wordcount  }} </h2>
                        <p class="card-text">{% trans 'A word is any series of one or more characters, excepted punctuation signs and white spaces.' %}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="far fa-file-word card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Total number of characters' %}</h5>
                        <h2 class="card-title"> {{ transcriptions|length  }} </h2>
                        <p class="card-text">{% trans 'A character is any symbol used in the transcription, including punctuation, excepted white spaces.' %}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col">
                <div class="card border-primary text-center">
                    <i class="fa fa-tags card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">
                            {% trans 'Vocabulary' %}
                            <a class="btn btn-primary fas fa-sync" title="{% trans 'Reload vocabulary' %}" href="?{% url_replace request 'vocabulary' 1 %}"></a>
                        </h5>
                        {% if vocabulary == "1" %}
                        <table class="table">
                            <tbody>
                                <tr class="row">
                                    {% for item_v in transcriptions|chunk_dict %}
                                        <td class="col">
                                            {% for key, value in item_v.items %}
                                                <table>
                                                    <tr>
                                                        {% for char, frequency in value %}
                                                            <td>{{ char }}</td>
                                                            <td>
                                                            {% if frequency < 50 %}
                                                                <span style="color: red;">{{ frequency }}</span>
                                                            {% else %}
                                                                <span>{{ frequency }}</span>
                                                            {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            <tbody>
                        </table>
                        {% endif %}
                        <p class="card-text">{% trans 'The vocabulary is the list of all the characters currently used in the transcription of the document along with their frequency.' %}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% cache 200 sidebar project.pk filters %}
        <div class="mb-4 row justify-content-center"><h4>{% trans 'Annotation' %}</h4></div>
        <div class="mb-4 row">
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fa fa-tags card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Current use of document tags' %}</h5>
                        <table class="table">
                            <tbody>
                                {% for tag in document_tags %}
                                    <tr>
                                        <td>{{ tag.name }}</td>
                                        <td>{{ tag.document_count }}</td>
                                    </tr>
                                {% endfor %}
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fa fa-tags card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Current use of part tags' %}</h5>
                        <h2 class="card-title"></h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 row">
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fa fa-tags card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Current use of regions type' %}</h5>
                        <table class="table">
                            <tbody>
                                {% for key, value in part_block_typology %}
                                    <tr>
                                        <td>
                                            {{ key|default_if_none:"No type assigned" }}
                                        </td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fa fa-tags card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Current use of lines type' %}</h5>
                        <table class="table">
                            <tbody>
                                {% for key, value in part_lines_typology %}
                                    <tr>
                                        <td>
                                            {{ key|default_if_none:"No type assigned" }}
                                        </td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-4 row justify-content-center"><h4>{% trans 'Project activity' %}</h4></div>
        <div class="mb-4 row">
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-calendar-alt card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Created on' %}</h5>
                        <h4>{{ object.created_at|date }}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-calendar-alt card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'Last update on' %}</h5>
                        <h4>{{ object.updated_at|date }}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-share-square card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktrans count n=object.shared_with_users.count %}Project shared with 1 user{% plural %}Project shared with {{n}} users{% endblocktrans %}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 row">
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-share-square card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktrans count n=object.shared_with_groups.count %}Project shared with 1 group{% plural %}Project shared with {{n}} groups{% endblocktrans %}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-share-square card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title">{% blocktrans count n=documents_shared_with_users %}Documents shared with 1 user{% plural %}Documents shared with {{n}} users{% endblocktrans %}</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-primary text-center h-100">
                    <i class="fas fa-share-square card-header"></i>
                    <div class="card-body">
                        <h5 class="card-title"> {% blocktrans count n=documents_shared_with_groups %}Documents shared with 1 group{% plural %}Documents shared with {{n}} groups{% endblocktrans %}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endcache %}
    </div>
</div>

{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'doclist.js' %}" type="text/javascript"></script>
{% endblock %}
