{% extends "base.html" %}
{% load i18n bootstrap static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link {% block infos-tab-active %}{% endblock %}" id="nav-infos-tab" href="{% url 'profile' %}" role="tab">{% trans "Informations" %}</a>
            <a class="nav-link {% block key-tab-active %}{% endblock %}" id="nav-key-tab"  href="{% url 'profile-api-key' %}" role="tab">{% trans "Api key" %}</a>
            <a class="nav-link {% block files-tab-active %}{% endblock %}" id="nav-files-tab" href="{% url 'profile-files' %}" role="tab">{% trans "Files" %}</a>
            <a class="nav-link {% block team-tab-active %}{% endblock %}" id="nav-infos-tab" href="{% url 'profile-team-list' %}" role="tab">{% trans "Teams" %}</a>
            <a class="nav-link {% block invites-tab-active %}{% endblock %}" id="nav-infos-tab" href="{% url 'profile-invites-list' %}" role="tab">{% trans "Invitations" %}</a>
            <a class="nav-link {% block cluster-tab-active %}active{% endblock %}" id="nav-infos-tab" href="{% url 'profile-cluster' %}" role="tab">{% trans "Cluster" %}</a>
        </div>

        <div class="col-md-8 tab-content" id="v-pills-tabContent">
            cluster
            <div class="tab-pane fade show active" id="infos-tab" role="tabpanel">
                {% block tab-content %}
                <form method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% render_field form.email %}
                        {% render_field form.first_name %}
                        {% render_field form.last_name %}

                        <input type="submit" value="{% trans 'Save' %}" class="btn btn-lg btn-success btn-block">
                    </fieldset>
                </form>
                <button id="reset-onboarding" style="" class="btn btn-lg btn-primary btn-block">Reset onboarding</button>

                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
 $(document).ready(function() {
     $('#api-key-clipboard').click(function() {
         navigator.clipboard.writeText($(this).data('key'))
     });

     $('#reset-onboarding').on('click',function () {
         userProfile.set('onboarding_document_form', false);
         userProfile.set('onboarding_images', false);
         userProfile.set('onboarding_edit', false);
         userProfile.set('onboarding_trans', false);
         userProfile.set('onboarding_models', false);

         $.ajax({
             type: 'PUT',
             url: '/api/user/onboarding/',
             contentType: "application/json; charset=utf-8",
             data: JSON.stringify({
                 onboarding: "True",
             })
         })
         .done($.proxy(function(data) {
             Alert.add(Date.now(), "Help was reset.", 'success');
         }, this))
         .fail(function(data) {
             Alert.add(Date.now(), "Couldn't reset help.", 'error');
         });
     });

 }, false);

</script>
{% endblock %}
